@model IEnumerable<Travel>
@{
    int count = 0;
}
<div class="title">
    <h1>Our Amazing Tours</h1>
</div>

<div class="create">
    <a class="btn btn-primary" href="@Url.Action("Create", "Travel")">Crea un nuovo viaggio</a>
</div>

<div class="travel-section">

    @foreach (Travel travel in Model)
    {
        <div class="travelCard">
            <span class="invisible">@count</span>
            <div class="travelPhoto">
                <img src="@travel.Photo">
            </div>
            <h2>@travel.Name</h2>
            <p>@travel.Description</p>
            <p>Giorni totali del viaggio: @travel.Day</p>
            <p>Destinazioni del viaggio: @travel.Destination</p>
            <p>Prezzo: @travel.Price €</p>
            <td>
                <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@travel.Id">Detail</a>
                <a class="btn btn-outline-warning" asp-action="Update" asp-route-id="@travel.Id">Update</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@travel.Id">Delete</a>
            </td>
        </div>
    }

</div>
